openai-whisper
pandas
openai
soundfile
torch

datasets
streamlit
sqlalchemy
pinecone-client
sentence-transformers
groq
python-dotenv
pandas
whisper
psycopg2-binary
langchain
langchain-community
sqlalchemy
altair==4.2.2

